.highlight {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  min-height: 240px;
  overflow: hidden;
}

.highlight > div:first-child picture,
.highlight > div:first-child img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* promo variation */
.highlight.promo > div:last-child {
  position: relative;
  z-index: 1;
  max-width: var(--max-width);;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.highlight.promo .button-container {
  margin-top: 16px;
}

/* quote variation */
.highlight.quote {
  padding: 4rem;
}

.highlight.quote > div:last-child {
  position: relative;
  padding: 2rem;
  z-index: 1;
  max-width: 35rem;
  background: rgba(16, 106, 197, 0.85);
}

.highlight.quote > div:last-child > div * {
  line-height: 1.5;
  font-weight: 500;
}

@media (width <= 900px) {
  .highlight.quote {
    padding: 2rem;
  }
}


/* Utility: style classes */
.highlight.text-white * {
  color: #fff;
}
.highlight.text-black * {
  color: #000;
}